body {
  font-family: Roboto;
}

#content {
  width: 800pt;
  margin: 0 auto;
}

#month-input-container {
}

#canvas {
  width: 800pt;
  height: 500pt;
}

#canvas .taxi-zone path {
  fill: black;
  stroke: black;
}

#canvas .taxi-zone.selected path {
  fill: red;
}

#canvas .taxi-zone.has-data path {
  fill: darkgreen;
}

#canvas .taxi-zone.no-data path {
  fill: blue;
}

div.tooltip {
  font-size: 1em;
  color: white;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  border-radius: 3px;
  text-align: middle;
  opacity: 0;
  background: rgba(50,50,50,0.75);
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  visibility: visible;
}
