body {
  font-family: Roboto;
}

#content {
  width: 800pt;
  margin: 0 auto;
}

#loading-message {
  font-size: 24pt;
  margin-top: 100pt;
  text-align: center;
}

#loading-message small {
  font-size: 14pt;
}

.map-body {
  margin-top: 40pt;
}

svg .taxi-zone path {
  fill: black;
  stroke: black;
}

svg .taxi-zone.selected path {
  fill: #e41a1c;
}

svg .taxi-zone.no-data path {
  fill: black;
}

.map-body.time svg .taxi-zone.has-data path {
  fill: #377eb8;
}

#gradient-scale-time stop {
  stop-color: #377eb8;
}

.map-body.fare svg .taxi-zone.has-data path {
  fill: #4daf4a;
}

#gradient-scale-fare stop {
  stop-color: #4daf4a;
}

.map-body.count svg .taxi-zone.has-data path {
  fill: #984ea3;
}

#gradient-scale-count stop {
  stop-color: #984ea3;
}

div.tooltip {
  font-size: 1em;
  color: white;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  border-radius: 3px;
  text-align: middle;
  opacity: 0;
  background: rgba(50,50,50,0.75);
  padding-left: 0.125em;
  padding-right: 0.125em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  visibility: visible;
}
